REACT_APP_COMPANY_NAME = ""
REACT_APP_SHORT_NAME = ""
REACT_APP_ADMIN_EMAIL = ''
REACT_APP_COMPANY_PHONE = ''
REACT_APP_COMPANY_ADDRESS = ''
REACT_APP_COMPANY_CITYSTATE = ''
REACT_APP_PRIMARY_COLOR="#2f80ed"
REACT_APP_ACCENT_COLOR="#215199ff"
REACT_APP_ALERT_COLOR="#dc2626"
REACT_APP_WARNING_COLOR="#f59e0b"
REACT_APP_SUCCESS_COLOR="#22c55e"
SECRET_KEY = ''
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
DEFAULT_FROM_EMAIL = ""
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ''
FRONTEND_URL = ''

DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.223 # change to your local IP address or domain name in production, change the local IP for development if needed

BUSINESS_HOURS_BY_WEEKDAY="{\"0\":[\"09:00\",\"19:00\"],\"1\":[\"09:00\",\"19:00\"],\"2\":[\"09:00\",\"19:00\"],\"3\":[\"09:00\",\"19:00\"],\"4\":[\"09:00\",\"19:00\"],\"5\":[\"12:00\",\"17:00\"],\"6\":[\"12:00\",\"17:00\"]}"

# Optional: Add Square API keys for payment processing

SQUARE_SANDBOX_TOKEN = ""
SQUARE_SANDBOX_APPLICATION_ID = ""
SQUARE_APPLICATION_ID = ""
SQUARE_ACCESS_TOKEN = ""
SQUARE_ENVIRONMENT = "sandbox"
REACT_APP_SQUARE_ENVIRONMENT = "sandbox"
SQUARE_LOCATION_ID = ""
SQUARE_SANDBOX_LOCATION_ID = ""
REACT_APP_SQUARE_APP_ID = ""
REACT_APP_SQUARE_LOCATION_ID = ""
