REACT_APP_COMPANY_NAME = ""
REACT_APP_SHORT_NAME = ""
REACT_APP_ADMIN_EMAIL = ''
REACT_APP_COMPANY_PHONE = ''
REACT_APP_COMPANY_ADDRESS = ''
REACT_APP_COMPANY_CITYSTATE = ''
REACT_APP_PRIMARY_COLOR="#2f80edff"
REACT_APP_ACCENT_COLOR="#215199ff"
REACT_APP_ALERT_COLOR="#dc2626a0"
REACT_APP_WARNING_COLOR="#f59e0ba0"
REACT_APP_SUCCESS_COLOR="#22c55ea0"
SECRET_KEY = ''
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
DEFAULT_FROM_EMAIL = ""
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ''
FRONTEND_URL = ''
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost # change to your local IP address or domain name in production, change the local IP for development if needed

BUSINESS_HOURS_BY_WEEKDAY="{\"0\":[\"09:00\",\"19:00\"],\"1\":[\"09:00\",\"19:00\"],\"2\":[\"09:00\",\"19:00\"],\"3\":[\"09:00\",\"19:00\"],\"4\":[\"09:00\",\"19:00\"],\"5\":[\"12:00\",\"17:00\"],\"6\":[\"12:00\",\"17:00\"]}"